:root{
  --gurukul-primary-color: #4a90e2;
  --gurukul-secondary-color-light: #91B3E829;
  --gurukul-primary-text-color: #1E1E1E;
  --gurukul-primary-text-color-light: #848484;
  --brand-bg-color: #F5F5F5;
  --brand-course-box: #D8EAF2;
  --danger-color: #BB2124;
  --danger-bg-color: #EAAAAA29;
}